*{
  box-sizing: border-box;
  padding: 20px;
  margin:20px;
}
header {
  font-size: larger;
}


h1 {
  text-align: center;
  color: navy;
  font-size: 56px;
  margin-top: 20px;
  font-family: Arial, Helvetica, sans-serif;
}
h2 {
  color: navy;
  font-size: 42px;
  margin-top: 20px;
  font-family: Arial, Helvetica, sans-serif;
}
.search-button{
  background-color: dodgerblue;
  color: white;
  font-size: 18px;
  margin-left: 10px;

}
  

.weather-img {
  border-style: none;
  vertical-align: middle;
}


.card {
  border: 1px solid #1a1a1a;
  margin-bottom: 1rem;
}

.card .card-header {
  padding: 0.375rem;
  background-color: #2d3e50;
  color: #d9e9e8;
}

.card .card-body {
  padding: 0.375rem;
}

.card .card-footer {
  border-top: 1px solid #1a1a1a;
  padding: 0.375rem;
}